/*==========  header  ==========*/
header {
  padding: 40px 0; }

.header-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 12px;
  border-bottom: 1px solid #59B372; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #000000;
  margin: 0 auto 0 0; }
  .logo:hover {
    color: #59B372; }

.logo-icon {
  max-width: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 60px 0 0; }

.logo-text {
  max-width: 553px;
  width: 100%; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #040404;
  margin: 0 37px 0 0; }
  .address__icon {
    margin: 0 28px 0 0;
    max-width: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .address__text {
    max-width: 196px; }

.contacts-box {
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contacts-box__icon {
    margin: 0 13px 0 0;
    max-width: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contacts-box p {
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    margin: 0 0 2px;
    font-weight: normal; }

.phone {
  color: #040404;
  font-size: 18px; }
  .phone:hover {
    color: #59B372; }

.btn-callback {
  max-width: 218px;
  width: 100%;
  margin: 0 0 0 30px; }

.header-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600; }
  .menu li {
    margin: 0 45px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #666666; }
      .menu li a:hover {
        color: #59B372; }

.form-search {
  max-width: 218px;
  width: 100%;
  position: relative;
  margin: 0 0 0 auto; }
  .form-search input {
    padding: 0 15px; }
  .form-search button {
    padding: 0;
    background: transparent;
    position: absolute;
    right: 14px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 14px;
    height: 14px;
    fill: none;
    stroke: #59B372;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*==========  header end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
