@import "vars"

/*==========  footer  ==========*/
footer
  color: #fff
  background: $accent
  padding: 24px 0
  .logo
    font-size: 14px
    color: #fff
    margin: 0
    text-transform: none
    &:hover
      color: inherit
  .logo-text
    max-width: 390px
  .logo-icon
    margin: 0 23px 0 0
    max-width: 64px
  .phone
    color: #fff
    font-size: 18px
  .address
    color: #fff
    margin: 0
  .contacts-box
    margin: 0 auto
  .btn
    max-width: 192px
    width: 100%
    margin: 0 0 0 50px
  .mail
    margin: 0 58px
/*==========  footer end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/